*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.container{
    position: relative;
    background-color: rgb(228, 232, 235);
    padding : 20px;
  
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        .calendarHeading{
            position: relative;
            width:100%;
         button{
             position: absolute;
             top:50%;
             transform: translateY(-50%);
             border:none;
             background: transparent;
         }
         .right{
             right:0px;
         }
         .left{
             left:0px;
         }
         .heading{
             font-weight: 500;
             font-size: 40px;
             padding:30px;
             text-align: center;
         }
        }
        .weekDays{
            width:1050px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            div{
                padding: 10px ;
                width:150px;
                text-align: center;
                background-color: white;
                color:rgb(109, 207, 230);
            }
          
        }
        .calendar{
            width:1050px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            div{
                background-color: white;
                height:100px;
                width:150px;
                position: relative;
                border: 1px solid rgb(247, 245, 245);
               span{
                 position: absolute;
                 display:flex;
                 align-items: center;
                 justify-content: center;
                 height:30px;
                 width:30px;
                 right:10px;
                 top:10px;
                 font-weight:  500;
                }
              .currentDate{
                 border-radius: 50%;
                 font-weight:  600;
                 color:white;
                 background-color: rgb(149, 101, 194);
              }
            }
        }
    }
}
